@model ProdutoViewModel
@{
    ViewData["Title"] = "Produtos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Hero Section Begin -->
<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form asp-action="Produtos" asp-controller="Home">
                            <input id="Pesquisa" name="Pesquisa" type="text" placeholder="O quê você precisa?">
                            <button type="submit" class="site-btn">BUSCAR</button>
                        </form>
                    </div>
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>(14) 4002-8922</h5>
                            <span>suporte 24/7</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="@Url.Content("~/img/breadcrumb.jpg")">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Produtos</h2>
                    <div class="breadcrumb__option">
                        <a asp-controller="Home" asp-action="Index">Home</a>
                        <span>Loja</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="sidebar">
                    <div class="sidebar__item">
                        <h4>Categorias</h4>
                        <ul>
                            <li><a href="" data-ajax="true" data-ajax-url="@Url.Action("ProdutosFiltrados", "Home", new { id = 0 })" data-ajax-update="#Produtos" data-ajax-complete="completed">TODAS</a></li>
                            @foreach (var item in Model.Categorias)
                            {
                                <li><a href="" data-ajax="true" data-ajax-url="@Url.Action("ProdutosFiltrados", "Home", new { id = item.Id })" data-ajax-update="#Produtos" data-ajax-complete="completed">@item.Nome.ToUpper()</a></li>
                            }
                        </ul>
                    </div>
                    <div class="sidebar__item">
                        <h4>Preço</h4>
                        <div class="price-range-wrap">
                            <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                                 data-min="10" data-max="540">
                                <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
                                <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                            </div>
                            <div class="range-slider">
                                <div class="price-input">
                                    <input type="text" id="minamount">
                                    <input type="text" id="maxamount">
                                </div>
                            </div>
                        </div>
                    </div>
                    <partial name="_UltimosProdutos" />
                </div>
            </div>
            <div class="col-lg-9 col-md-7">

                <div id="Produtos" class="mb-5">
                    <partial name="_ProdutosFiltrados" model="Model.Produtos" />
                </div>

                <partial name="_PromocaoPartial" />

            </div>
        </div>
    </div>
</section>
<!-- Product Section End -->

@section Scripts{
    
    <script>
        completed = function (xhr) {
            $('.set-bg').each(function () {
                var bg = $(this).data('setbg');
                $(this).css('background-image', 'url(' + bg + ')');
            });
        };

        adicionado = function (xhr) {
            swal({
                title: "Produto adicionado ao carrinho!",
                icon: "success",
                buttons: {
                    continue: "Continuar Comprando ",
                    goCart: { text: "Abrir meu Carrinho", value: "goCart" }
                }
            })
                .then((value) => {
                    if (value == "goCart") {
                        window.location.href = '@Url.Action("Index", "Cart")';
                    };
                });
        };
    </script>
}